th{
    background-color:#3574bb
    ;
    color: white;
    font-size: 28px;
}
#claro{
    background-color: #3574bb
    ;
    color: white;
    text-align: center;
    font-size: 20px;
    
    
}

#segunda{
    background-color: #88acd8
    ;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;

}
#geral{
    border-collapse: collapse;
}
